<div class="container mt-3">
  <div class="row mb-2" style="color: green;">
    <div class="col">
      <h2>{{ title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSubmit()" #formTask="ngForm">
        <div class="form-group">
          <label class="font-weight-bold">Anime preferido:</label>
          <input [(ngModel)]="anime.animePreferido" ngDefaultControl name="animePreferido" type="text"  class="form-control">
        </div>
        <div class="form-group">
          <label class="font-weight-bold">Personagem preferido:</label>
          <input [(ngModel)]="anime.personagemPreferido" ngDefaultControl name="personagemPreferido"  type="text" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Salvar</button>
          <button type="button" class="btn btn-secondary ml-2" [routerLink]="['/']">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>


